        <!-- code du chargement -->
        <!-- <ng-template #loading>
            <div class="text-center pt-5">
                <div class="spinner-border text-primary text-center col-2 m-auto" role="status"></div>  
                <p>Chargement de la liste...</p>
            </div>
        </ng-template> -->
        <!-- fin -->

<section style="background-color: #ffeb3b; border: 1px solid ffeb3b;" class="border">
    <div class="container m-auto" style="height: 90vh;">
        <h3 class="mt-5 text-center"> Veillez saisir votre numéro de <br> téléphone et votre numéro matricule </h3>
        <div class="row d-lg-flex d-md-flex" style="margin: 0 auto; align-items: center; height: 80vh;">
            <div class="w-50" style="margin: 0 auto;">
                <img src="../../../assets/images/e school logo new.png" alt="" style="width: 100%;">
            </div>
            <div class="col-lg-6 col-md-6" style="height: 500px; margin: 0 auto;">
                <form action="" class="mt-lg-5 mt-md-5" #resultatForm="ngForm" (ngSubmit)="onSubmitForm(resultatForm)">
                    <h3 class="text-center">Informations</h3>
                    <div class="mt-3">
                        <label for="" class="form-label">Numéro mobile</label>
                        <input name="mobile" [ngModel]="mobile" type="text" class="form-control" placeholder="Numéro du téléphone que vous vérifiez">
                    </div>
                    <div class="mt-4">
                        <label for="" class="form-label">Numéro matricule</label>
                        <input name="matricule" [ngModel]="matricule" type="text" class="form-control" placeholder="Numéro matricule">
                    </div>
                    <div class="mt-4">
                        <button class="btn form-control text-white" style="background-color: #c51162;;">Vérifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- <div *ngIf="!isLoading; else loading">
        <p *ngFor="let item of data" class="bg-success text-white text-center">{{item.message}}</p>
    </div> -->
</section>